.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #fa1e4e;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-submit-button {
  padding: 16px;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    #fa1e4e 35%,
    #d8113c 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #b9092f
}

.todo-submit-button.edit {
  background: linear-gradient(
    90deg,
    #b9092f 15%,
    #d8113c 100%
  );
  padding: 16px 22px;
}
