.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    #ff0077 0%,
    #dd0268 100%
  );

  padding: 16px;
  border-radius: 10px;
  width: 90%;
}

.todo-row:nth-child(3n + 1) {
  background: linear-gradient(
    90deg,
    #8a33e1 0%,
    #6e23b9 100%
  );
}

.todo-row:nth-child(3n + 2) {
  background: linear-gradient(
    90deg,
    #4d4Dff 0%,
    #2e2ec9 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
